<div class="product-area">
    <div class="container">
        <div class="section-header">
            <div class="section-title"><span>Recently </span>Viewed</div>
        </div>
        <owl-carousel-o [options]="customOptions02">
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/1.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/2.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/3.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/4.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/5.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/1.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/2.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/3.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
        </owl-carousel-o>
    </div>
</div>
