<app-header></app-header>
<div class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="produt-images-area">
                    <div class="side-img">
                        <img src="../../assets/images/360-degrees.svg" alt=""> <br>
                    </div>
                    <div class="product-main-img">
                        <img src="../../assets/images/product-img.png" alt="">
                        <div class="product-contoller">
                            <div><a href="#"><i class="fa fa-undo"></i></a></div>
                            <div><a href="#"><i class="fa fa-pause"></i></a></div>
                            <div><a href="#"><i class="fa fa-repeat"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="product-details-content">
                    <h4>10 inch Goplaji-Blue</h4>
                    <p>Lorem Ipsum</p>
                    <h6><del>Rs 2946</del></h6>
                    <h2>Rs <span> 2946</span></h2>
                    <div class="row align-items-center martop">
                        <div class="col-6 col-md-4">
                            <button class="btn btn-fill-out" routerLink="/cart"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="d-flex wishlist-btn">
                                <img src="../../assets/images/Icon awesome-heart.svg" alt="">
                                <span>Add to <br> Wishlist</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="item-details">
    <div class="container">
        <h3>Poshak <span>Details</span></h3>
        <div class="row details-row">
            <div class="col-lg-7">
                <div class="item-table">
                    <div class="item-details-header">
                        <h4>Description</h4>
                    </div>
                    <div class="item-details-content">
                        <p>Inspired by the arts and crafts of Jaipur, Rajasthan. This Laddu Gopal dress features region specific designs that give your Laddu Gopal idol an extra bit of flair and beauty.¬†</p>
                    </div>
                    <div class="item-details-header mt-35">
                        <h4>Specification</h4>
                    </div>
                    <div class="item-details-content">
                        <table>
                            <tr>
                                <th>Weight</th>
                                <td>30gm</td>
                            </tr>
                            <tr>
                                <th>Material</th>
                                <td>Fabric, beads, lace</td>
                            </tr>
                            <tr>
                                <th>Dimension</th>
                                <td>Diameter : 22 cms, Radius: 11 cms</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="details-info">
                                    <i>Dress color may vary.</i>
                                </td>
                            <tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-related-product></app-related-product>
<app-footer></app-footer>