<app-header></app-header>
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 middle-content">
                <div class="banner-content">
                    <h2>Unique poshaks for your beloved Gopal Ji</h2>
                    <p>Buy the best collection of poshak designs for every occasion. Be it Janmashtmi or Holi, decorate the lord with the best poshaks, delivered right from Lord’s own city, Vrindavan.</p>
                    <button type="button" routerLink="/explore" class="btn btn-fill-out explore-btn">Explore Now!</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-img">
                    <div class="middle-img">
                        <img class="main-img" src="../assets/images/Group-2/home.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area">
    <div class="container">
        <div class="section-header">
            <div class="section-title"><span>Recommended</span> Products</div>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/1.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/2.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/3.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/4.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/5.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/1.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/2.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/3.png" alt="">
                    </div>
                    <a href="product-details">
                        <div class="product-content">
                            <div class="product-name">
                                <h4>10 inch Goplaji-Blue</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="product-price">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-6">
                                        <h6>Rs <span>2946</span></h6>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="wishlist"><i class="fa fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-template>  
        </owl-carousel-o>
    </div>
</div>
<div class="expore-type">
    <div class="container">
        <h3>Explore By <span>Type</span></h3>
        <div class="row no-gutters">
            <div class="col-lg-12">
                <ul class="explore-by-types">
                    <li><a href="#"><img src="../assets/images/shape-icon/1.svg" alt=""> <br> Poshaks</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/2.svg" alt=""> <br> Idols</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/3.svg" alt=""> <br> Darbar</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/4.svg" alt=""> <br> Mukuts</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/5.svg" alt=""> <br> Singhasan</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sparkle-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="spark-content">
                    <h3>Unique <span>Designs!</span></h3>
                    <ul>
                        <li><span></span> High quality at a great value!</li>
                        <li><span></span> Timeless styles, handcrafted in  Krishna’s own Vrindavan.</li>
                        <li><span></span> Legendary service, 30-day returns.</li>
                        <li><span></span> Huge variety.</li>
                    </ul>
                    <img class="spark-top-right-img" src="../assets/images/bottom-left-img.svg" alt="">
                    <img class="spark-bottom-right-img" src="../assets/images/side-img.svg" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="spark-img">
                    <img src="../assets/images/spark-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<app-related-product></app-related-product>
<app-footer></app-footer>